.testimonials {
  padding-bottom: 30px;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: $lightest;
    text-align: center;
    margin-bottom: 20px;
  }

  p.lead {
    text-align: center;
    margin-bottom: 60px;
  }

  &__scrollbars__track {
    width: 600px;
    bottom: 5px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    border: 1px solid darken($lighter, 4%);
    height: 8px !important;
  }

  &__scrollbars__thumb {
    background: $lighter;
    border-radius: 6px;
    cursor: pointer;
    height: 8px !important;
  }

  &__grid {
    display: flex;
    padding-bottom: 30px;

    &__column {
      width: 420px;
      flex: 0 0 auto;
      padding: 0 15px;
    }
  }

  blockquote {
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    padding-top: 25px;
    color: $lightest;
    font-size: 15px;
    background: lighten($darkest, 8%);
    border-radius: 4px;

    p {
      margin-bottom: 15px;
    }

    footer {
      line-height: 21px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      cursor: default;
    }
  }

  .display-name {
    &__avatar {
      border-radius: 4px;
      width: 42px;
      height: 42px;
      margin-right: 10px;
    }

    &__name {
      display: block;
      font-weight: 500;
      font-size: 15px;
    }

    &__acct {
      display: block;
      color: $lighter;
      font-size: 14px;
    }
  }
}
