.app {

}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.navbar {
  background: darken($color1, 8%);
  overflow: hidden;

  .brand {
    float: left;
    padding: 12px 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid $color4;
    color: $color2;
    line-height: 32px;
    font-weight: 500;
    font-size: 14px;
    cursor: default;
  }

  ul {
    list-style: none;
    float: right;

    li {
      display: inline-block;
      vertical-align: bottom;
    }

    a {
      display: block;
      color: $color3;
      text-decoration: none;
      padding: 12px 16px;
      padding-bottom: 10px;
      line-height: 32px;
      font-weight: 500;
      font-size: 14px;
      border-bottom: 2px solid transparent;
      transition: all 250ms linear;

      &:hover {
        color: $color2;
        border-bottom-color: $color4;
        transition: all 100ms linear;
      }
    }
  }
}

.github {
  span {
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    background: darken($color1, 8%) url('/github.png') no-repeat 0 0;
    width: 32px;
    height: 32px;
    background-blend-mode: lighten;
    opacity: 0.5;
    margin-left: 5px;
  }

  &:hover {
    span {
      opacity: 0.8;
    }
  }
}

.intro {
  text-align: center;
  padding-top: 115px;

  h1 {
    padding-top: 60px;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
    color: $color3;

    strong {
      font-weight: 500;
      color: $color2;
    }
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }
}

.hero {
  background: darken($color1, 4%);
  padding: 30px 0;
  text-align: center;
  user-select: none;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 230px;
  margin-top: -115px;
  background: $color1;
  border-radius: 100%;
  padding: 10px;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
  }
}

.hero__container {
  margin-top: 30px;
  margin-bottom: -30px;
  position: relative;
  z-index: 1;
}

.hero__full, .hero__mobile {
  overflow: hidden;
}

.hero__full {
  max-width: 850px;
}

.hero__mobile {
  max-width: 200px;
  margin-left: -100px;
  margin-bottom: 0px;
}

.hero__floats {
  position: absolute;
  max-width: 950px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;

  img {
    animation-name: floating;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .float-1 {
    position: absolute;
    left: -70px;
  }
}

@keyframes floating {
  from {
    transform:translate(0, 0px);
  }

  65% {
    transform:translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}
