.container {
  max-width: 800px;
  margin: 0 auto; }

.intro {
  text-align: center; }

.intro h1 {
  padding-top: 60px;
  font-size: 31px;
  margin-bottom: 60px; }

.hero {
  text-align: center; }

.hero__container {
  margin-top: 100px;
  margin-bottom: -100px; }

.hero__full, .hero__mobile {
  overflow: hidden;
  border-radius: 8px 8px 0 0; }

.hero__full {
  max-width: 850px; }

.hero__mobile {
  max-width: 200px;
  margin-left: -100px;
  margin-bottom: 0px; }
