@import url('https://fonts.googleapis.com/css?family=Quando|Judson|Montserrat:400,600|Roboto:400,500,700');
@import url('https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css');

@import 'scss/variables.scss';
@import 'scss/reset.scss';
@import 'scss/global.scss';
@import 'scss/App.scss';
@import 'scss/Wizard.scss';
@import 'scss/HowItWorks.scss';
@import 'scss/Credits.scss';
@import 'scss/Sponsorship.scss';
@import 'scss/LanguageSelect.scss';
@import 'scss/Features.scss';
