@import './variables.scss';

.app {
  font-size: 16px;
  line-height: 30px;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.navbar {
  overflow: hidden;
  background-color: mix($darkest, $black);
  ul {
    list-style: none;

    li {
      display: inline-block;
      vertical-align: bottom;
    }

    a {
      display: flex;
      align-content: center;
      align-items: center;

      color: $lighter;
      text-decoration: none;
      padding: 12px 16px;
      padding-bottom: 10px;
      line-height: 32px;
      font-weight: 500;
      font-size: 14px;
      border-bottom: 2px solid transparent;
      transition: all 250ms linear;

      img.link-logo {
        width: 32px;
        height: 32px;
        opacity: 0.5;
        transition: all 250ms linear;

        &.before {
          margin-right: 10px;
        }

        &.after {
          margin-left: 10px;
        }
      }

      &.active, &:hover {
        color: $lightest;
        border-bottom-color: $vibrant;
        transition: all 100ms linear;

        img.link-logo {
          opacity: 0.8;
        }
      }
    }
  }

  ul.left {
    float: left;
  }

  ul.right {
    float: right;
  }
}

.cta-button {
  display: block;
  text-align: center;
  margin: 0 auto 30px;
  width: 300px;
  font-size: 14px;
  color: $darkest;
  background: $lightest;
  text-decoration: none;
  border-radius: 4px;
  line-height: 36px;
  padding: 6px 16px;
  box-shadow: 0 2px 6px rgba($black, 0.3);
}

.intro {
  text-align: center;
  padding: 30px 0 150px;
  position: relative;

  $bgBase:  mix($darker, $darkest, 20%);
  background: linear-gradient( to bottom, $bgBase, $bgBase, $darkest);
  color: $lighter;

  h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 60px;
  }

  strong {
    font-weight: 500;
    color: $lightest;
  }

  .screenshot {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/screenshot_full.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 140px;
    z-index: 0;
    opacity: 0.3;
    filter: blur(1px);
  }

  .content {
    position: relative;
  }
}

.hero-logo {
  position: relative;
  margin: -100px auto -20px;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
  }
}

.feature {
  display: flex;
  margin: 60px auto;
  align-items: center;
  justify-content: space-between;

  .text, .visual {
    margin: 0 30px;
    overflow: hidden;
  }

  .text {
    width: 60%;
  }

  .visual {
    height: 300px;
  }

  h2 {
    color: $vibrant;
    font-size: 26px;
    margin-bottom: 10px;
  }
}
