@import './variables.scss';

.browse-apps {
  .footer {
    margin-top: 40px;
  }

  h1 {
    font-weight: 500;
    font-size: 21px;
    color: $lightest;
  }

  p.lead {
    font-size: 16px;
    color: $lighter;
  }

  hr {
    clear: both;
    height: 0;
    border: 0;
    border-top: 1px solid lighten($darkest, 8%);
    margin: 20px 0;
  }

  .legal {
    padding-bottom: 60px;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 800px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 750px) {
    .navbar {
      margin-bottom: 30px;
    }
  }
}

.app-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 20px;

  &__item {
    direction: ltr;
    box-sizing: border-box;
    flex: 1 1 205px;
    padding: 0 5px;
    margin-bottom: 10px;
    max-width: 25%;

    @media screen and (max-width: 800px) {
      max-width: 33.3%;
    }

    @media screen and (max-width: 530px) {
      max-width: 50%;
    }

    @media screen and (max-width: 400px) {
      max-width: 100%;
      width: 100%;
    }

    a {
      display: block;
      padding: 10px;
      background: lighten($darkest, 8%);
      border-radius: 4px;
      display: flex;
      align-items: center;
      color: $lightest;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        background: lighten($darkest, 12%);
      }
    }

    img {
      width: 60px;
      height: 60px;
      margin-right: 12px;
      border-radius: 4px;
    }

    &__text {
      strong {
        display: block;
        color: $lightest;
        font-size: 16px;
        font-weight: 700;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__tag {
      background: $darkest;
      text-transform: uppercase;
      color: $lighter;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }
}

.lang-ja,
.lang-zh {
  .browse-apps {
    h1 {
      font-weight: 600;
    }
  }
}

.app-intro {
  padding-top: 15px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -90px;
    left: -20px;
    display: block;
    width: calc(100% + 40px);
    height: 100%;
    background: lighten($darkest, 4%);
    z-index: -1;
    transform: rotate(3deg);
  }

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding-bottom: 30px;

    &__unit {
      flex: 0 0 50%;
      text-align: right;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.5;
        margin-bottom: 20px;

        small {
          font-family: 'Roboto', sans-serif;
          display: inline-block;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          background: rgba($black, 0.4);
          border-radius: 4px;
          padding: .1rem .5rem;
        }
      }

      p {
        color: $lighter;
        font-size: 18px;
        margin-bottom: 30px;
      }

      form {
        display: flex;
        justify-content: flex-end;
      }
    }

    &__screenshot {
      flex: 0 0 auto;
      max-height: 600px;
      margin: 0 30px;
    }
  }
}

@media only screen and (max-width: $content-width) {
  .app-intro .app-intro__hero {
    flex-wrap: wrap;
  }

  .app-intro .app-intro__hero__unit {
    text-align: center;
    margin-bottom: 30px;

    form {
      justify-content: center;
    }
  }
}

.app-store-badge {
  height: 50px;
}

.input-with-button {
  position: relative;
  max-width: 300px;

  input[type=email] {
    box-sizing: border-box;
    font-size: 16px;
    color: $black;
    display: block;
    width: 100%;
    outline: 0;
    font-family: inherit;
    resize: vertical;
    background: $white;
    border: 0;
    border-radius: 4px;
    padding: 17px 15px;
    padding-right: 120px;

    &::placeholder {
      color: lighten($darkest, 8%);
    }

    &:invalid {
      box-shadow: none;
    }
  }

  button {
    position: absolute;
    top: 5px;
    right: 6px;
    display: inline-block;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    line-height: 36px;
    padding: 4px 16px;
    font-weight: 500;
    background: darken($success, 8%);
    color: $white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $success;
    }

    &:active,
    &:focus {
      background-color: darken($success, 5%);
    }

    &:disabled:hover {
      background-color: $lighter;
    }
  }
}
