@import './variables.scss';

.browse-apps {
  padding-top: 15px;

  .navbar {
    margin-bottom: 160px;
  }

  .footer {
    margin-top: 40px;
  }

  h1 {
    font-weight: 500;
    font-size: 21px;
    color: $lightest;
  }

  p.lead {
    font-size: 16px;
    color: $lighter;
  }

  hr {
    clear: both;
    height: 0;
    border: 0;
    border-top: 1px solid lighten($darkest, 8%);
    margin: 20px 0;
  }

  .legal {
    padding-bottom: 60px;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 800px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 750px) {
    .navbar {
      margin-bottom: 30px;
    }
  }
}

.app-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 20px;

  &__item {
    direction: ltr;
    box-sizing: border-box;
    flex: 1 1 205px;
    padding: 0 5px;
    margin-bottom: 10px;
    max-width: 25%;

    @media screen and (max-width: 800px) {
      max-width: 33.3%;
    }

    @media screen and (max-width: 530px) {
      max-width: 50%;
    }

    @media screen and (max-width: 400px) {
      max-width: 100%;
      width: 100%;
    }

    a {
      display: block;
      padding: 10px;
      background: lighten($darkest, 8%);
      border-radius: 4px;
      display: flex;
      align-items: center;
      color: $lightest;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        background: lighten($darkest, 12%);
      }
    }

    img {
      width: 60px;
      height: 60px;
      margin-right: 12px;
      border-radius: 4px;
    }

    &__text {
      strong {
        display: block;
        color: $lightest;
        font-size: 16px;
        font-weight: 700;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__tag {
      background: $darkest;
      text-transform: uppercase;
      color: $lighter;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }
}

.lang-ja,
.lang-zh {
  .browse-apps {
    h1 {
      font-weight: 600;
    }
  }
}
