@import './variables.scss';

.credits {
  padding-top: 40px;
  background: darken($darkest, 4%);

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $lightest;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .funding {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;

    @media only screen and (max-width: 640px) {
      width: auto;
    }

    p {
      text-align: left;
      margin-bottom: 30px;

      .lang-ar & {
        text-align: right;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    padding-top: 0px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .credits {
    padding-left: 20px;
    padding-right: 20px;

    .optional-row {
      display: block;
    }

    .funding {
      margin-bottom: 50px;
    }
  }
}

.footer {
  border-top: 1px solid lighten($darkest, 8%);
}

.footer-grid {
  padding-top: 60px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 40px;

  @media only screen and (max-width: 800px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 640px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    & > div:first-child {
      display: none;
    }
  }

  &__brand {
    width: 48px;
  }

  h4 {
    font-weight: 700;
    color: $lightest;
    margin-bottom: 10px;
  }

  a {
    color: $lighter;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
