@import './variables.scss';

.feature-angle-container {
  display: flex;
  margin: 0 -15px;

  @media only screen and (max-width: 640px) {
    flex-wrap: wrap;
    margin: 0;
  }
}

#features hr {
  background: transparent;
  border: 0;
  border-top: 1px solid lighten($darkest, 8%);
}

.feature-angle {
  flex: 1 1 50%;
  text-align: center;
  padding: 0 15px;

  @media only screen and (max-width: 640px) {
    padding: 0 20px;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > i {
    display: block;
    font-size: 44px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 21px;
    line-height: 1.38105;
    letter-spacing: .011em;
  }

  a.link-button {
    display: inline-block;
    margin-top: 20px;
    font-size: 21px;
    color: lighten($vibrant, 8%);
    text-decoration: none;

    i {
      margin-left: 5px;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
