@import './variables.scss';

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: mix($darkest, $black, 75%);
  color: $darker;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
