@import './variables.scss';

.how-it-works {
  margin: 100px auto;

  .lang-ar & {
    direction: rtl;

    .specs {
      margin-right: 0;
      margin-left: 15px;
    }
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-bottom: 20px;
    color: $lightest;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $lightest;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .specs {
    width: 40%;
    margin-right: 15px;
  }

  .benefits {
    margin-top: 50px;
  }

  .network-grid {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .cta {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .how-it-works {
    margin: 60px 0;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 640px) {
  .how-it-works {
    .row {
      display: block;
    }

    .specs {
      width: 100%;
      margin: 0;
      margin-bottom: 50px;
    }

    .network-grid {
      margin-bottom: 50px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
