@import './variables.scss';

$transition-in: 100ms linear;
$transition-out: 250ms linear;

.dropdown {
  position: relative;

  .emoji {
    vertical-align: -0.15em;
    margin-right: 0.1em;
  }

  &__control {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    color: $lighter;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    padding: 12px 16px;
    transition: color $transition-out;

    &:hover {
      color: $lightest;
      transition: color $transition-in;
    }
  }

  &__menu {
    background-color: $lightest;
    box-shadow: 0 1px 3px rgba($black, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: -1px;
    max-height: 440px;
    width: 180px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: -95px;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }

  &__option {
    box-sizing: border-box;
    color: $darkest;
    cursor: pointer;
    display: block;
    padding: 4px 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-align: left;

    &:last-child {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:hover,
    &.active {
      background-color: $lighter;
    }
  }

  &.active {
    .dropdown__control {
      color: $lightest;
    }
  }
}
