$white:    #fff    !default; // color5
$lightest: #d9e1e8 !default; // color2
$lighter:  #9baec8 !default; // color3
$darkest:  #1F232B !default; // color1
$black:    #000    !default; // color8
$darker:   mix($lighter, $darkest);

$vibrant:  #2b90d9 !default; // color4
$error:    #df405a !default; // color6
$success:  #79bd9a !default; // color7
