@import './variables.scss';

.wizard-page {
  margin: 0 auto;
  max-width: 1280px;
  padding: 60px 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-column-gap: 40px;

  @media only screen and (max-width: 1280px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 640px) {
    padding-top: 20px;
    grid-template-columns: 100%;

    .wizard-navigation {
      order: 2;
    }
  }
}

.wizard-navbar {
  border-bottom: 1px solid lighten($darkest, 8%);
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  ul a.brand img {
    height: 48px;
  }

  .brand::before {
    display: none;
  }

  @media only screen and (max-width: 640px) {
    padding-bottom: 10px;

    ul a.brand img {
      height: 32px;
    }
  }
}

.wizard-footer {
  border-top: 1px solid lighten($darkest, 8%);
  padding: 20px;

  .legal {
    padding-top: 0;
    text-align: center;
  }
}

.wizard-navigation {
  font-size: 18px;
  min-width: 187px;

  @media only screen and (max-width: 900px) {
    font-size: 16px;
  }

  a {
    display: block;
    padding: 10px;
    color: $lighter;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
      color: lighten($lighter, 4%);
    }

    &.active {
      background: $lighter;
      color: $darkest;
      border-radius: 4px;

      &:hover,
      &:active,
      &:focus {
        color: $darkest;
        background: lighten($lighter, 4%);
      }
    }
  }

  &__title {
    margin-top: 20px;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color: $lightest;
    font-weight: 700;
  }
}

.wizard {
  &__row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media only screen and (max-width: 1278px) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media only screen and (max-width: 850px) {
      grid-template-columns: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__title {
      font-size: 38px;
      font-weight: 700;
      line-height: 48px;
      color: $vibrant;

      @media only screen and (max-width: 900px) {
        font-size: 24px;
      }
    }

    &__options {
      min-width: 200px;
    }
  }

  &__section {
    margin-bottom: 40px;

    &__title {
      display: block;
      font-size: 21px;
      font-weight: 500;
      color: $white;
      margin-bottom: 20px;
    }
  }

  .wizard-card {
    background: lighten($darkest, 12%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    &--placeholder {
      box-sizing: border-box;
      background: lighten($darkest, 4%);
      background: linear-gradient(to right, lighten($darkest, 4%) 8%, lighten($darkest, 5%) 38%, lighten($darkest, 4%) 54%);
      height: 315px;
      animation-duration: 1.8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background-size: 1000px 640px;
    }

    .indicator-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .button {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__description {
      padding: 15px;
      font-size: 15px;
      line-height: 21px;
      color: darken($lighter, 12%);
      background: lighten($darkest, 6%);
      flex-grow: 1;
      unicode-bidi: plaintext;
    }

    &__hero {
      overflow: hidden;
      height: 130px;
      background: darken($darkest, 4%);
      flex: 0 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__row {
      display: flex;
      padding: 15px;
      align-items: center;
    }

    &__title {
      font-size: 18px;
      display: block;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $lightest;
    }

    .link {
      display: block;
      color: $lighter;
      text-decoration: none;
      margin: 0 20px;

      &:focus,
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  .button {
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    min-width: 60px;
    background: darken($success, 8%);
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background: darken($success, 4%);
    }
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }

  100%{
    background-position: 468px 0
  }
}

.indicator-text {
  font-weight: 500;

  .indicator {
    margin-right: 3px;
    margin-bottom: -1.5px;

    .lang-ar & {
      margin-right: 0;
      margin-left: 3px;
    }
  }

  &.green {
    color: $success;
  }

  &.yellow {
    color: #ca8f04;
  }

  &.red {
    color: $error;
  }
}

.indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;

  &.green {
    background: $success;
  }

  &.yellow {
    background: #ca8f04;
  }

  &.red {
    background: $error;
  }
}

.warning-text {
  display: block;
  font-size: 13px;
  color: #ca8f04;
  font-weight: 500;
  margin: 0 10px;
}

.feature-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 40px;

  @media only screen and (max-width: 640px) {
    grid-template-columns: 100%;
    margin-bottom: 40px;

    .feature-angle {
      margin-bottom: 0;
    }
  }

  .feature-angle {
    border-radius: 4px;
    background: lighten($darkest, 4%);
    padding: 20px;
    color: $lighter;
    font-weight: 500;

    p {
      color: $lightest;
      margin-top: 15px;
    }
  }
}

/*
  React Responsive Select - Default styles
*/
.rrs {
  position: relative;
  box-sizing: border-box;
  direction: ltr;
}

.rrs *,
.rrs *:before,
.rrs *:after {
  box-sizing: border-box;
}

.rrs__button {
  color: $lighter;
  position: relative;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  background: darken($darkest, 4%);
  border-radius: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rrs__button:focus {
  outline: 0;
}

.rrs__button + .rrs__options {
  list-style: none;
  padding: 0;
  margin: 0;
  background: darken($darkest, 4%);
  position: absolute;
  z-index: 2;
  border-top: 1px solid $darkest;
  border-radius: 0 0 4px 4px;
  top: 44px;
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.rrs--options-visible .rrs__options {
  height: auto;
  visibility: visible;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 230px;
}

.rrs__option {
  cursor: pointer;
  padding: 0 1rem;
  height: 44px;
  line-height: 44px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rrs__option * {
  pointer-events: none;
}

.rrs__option:first-of-type {
  border-top: 0;
}

.rrs__option:focus {
  outline: 0;
}

.rrs__option:hover {
  background: $darkest;
  color: #fff;
}

.rrs__option:active {
  background: $darkest;
}

.rrs__option.rrs__option--next-selection {
  background: mix($darkest, $vibrant);
  color: #fff;
}

.rrs__option.rrs__option--selected {
  color: #fff;
}

.rrs__label {
  padding: 0 2rem 0 1rem;
  display: inline-flex;
  width: 100%;
  max-width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}

.rrs--options-visible .rrs__label,
.rrs__button:focus .rrs__label {
  outline: 0;
}

.rrs__label {
  font-size: 18px;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.caret-icon {
  position: absolute;
  right: 0.8rem;
  top: 1.25rem;
  fill: $lighter;
}

.rrs--options-visible .caret-icon {
  transform: rotate(180deg);
}

.rrs__options {
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: max-height, opacity;
  max-height: 0;
  opacity: 0;
}

.rrs--options-visible .rrs__options {
  opacity: 1;
}

/*
  Multiselect overrides
*/
/*
.rrs__multiselect-label {
  display: inline-flex;
  max-width: 100%;
  line-height: 1;
}

.rrs__multiselect-label__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rrs__multiselect-label__badge{
  border: 1px solid #ccc;
  padding: 1px 6px;
  margin: 0 0 0 4px;
  border-radius: 8px;
  color: #666;
  font-size: 11px;
  vertical-align: middle;
  display: inline-block;
}
*/
