@import './variables.scss';

.wizard-page {
  max-width: 800px;
  margin: 100px auto;
  margin-bottom: 0;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-bottom: 20px;
    color: $lighter;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.wizard {
  margin: 50px auto;
  margin-bottom: 15px;
  border: 1px solid darken($darkest, 4%);
  background: lighten($darkest, 8%);
  border-radius: 10px;
  max-width: 800px;
  overflow: hidden;

  .wizard-header {
    display: flex;
    border-bottom: 1px solid $darkest;

    .wizard-column {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: $lighter;
      border-right: 1px solid $darkest;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .wizard-row {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: inherit;

    &:nth-child(even) {
      background: lighten($darkest, 2%);
    }

    &:hover {
      color: $lightest;
    }

    &:focus {
      background: mix($darkest, $vibrant);
      color: $white;
    }
  }

  .wizard-column {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(1n) {
      width: 20%;
    }

    &:nth-child(2n), &:nth-child(3n) {
      width: 17%;
    }

    &:nth-child(4n) {
      width: 100% - 2*17% - 20%;
    }
  }

  .wizard-content {
    height: 500px;
    overflow-y: hidden;
    background: lighten($darkest, 4%);
    color: $lighter;

    .wizard-column {
      cursor: pointer;
    }
  }
}

.indicator-text {
  font-weight: 500;

  .indicator {
    margin-right: 5px;
  }

  &.green {
    color: $success;
  }

  &.yellow {
    color: #ca8f04;
  }

  &.red {
    color: $error;
  }
}

.indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;

  &.green {
    background: $success;
  }

  &.yellow {
    background: #ca8f04;
  }

  &.red {
    background: $error;
  }
}

.search {
  position: relative;
}

.wizard-controls {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

.search__input {
  padding-right: 30px;
  outline: 0;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 100%;
  border: none;
  padding: 10px;
  padding-right: 30px;
  font-family: inherit;
  background: darken($darkest, 8%);
  color: $lighter;
  font-size: 14px;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }

  &:focus {
    background: darken($darkest, 4%);
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.search__icon {
  .ion-android-search, .ion-android-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: inline-block;
    opacity: 0;
    transition: all 100ms linear;
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: $lighter;
    cursor: default;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      opacity: 0.3;
    }
  }

  .ion-android-search {
    transform: translateZ(0) rotate(90deg);

    &.active {
      pointer-events: none;
      transform: translateZ(0) rotate(0deg);
    }
  }

  .ion-android-cancel {
    transform: translateZ(0) rotate(0deg);
    cursor: pointer;

    &.active {
      transform: translateZ(0) rotate(90deg);
    }

    &:hover {
      color: $lightest;
    }
  }
}
