@import './variables.scss';

.wizard-page {
  max-width: 800px;
  margin: 100px auto;
  margin-bottom: 0;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-bottom: 20px;
    color: $lighter;

    strong {
      color: $lightest;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;

    &.hint {
      color: $lighter;
      margin: 30px 0;
      display: flex;

      strong {
        display: block;
        flex: 0 0 auto;
        font-weight: 700;
        color: $lightest;
        margin-right: 10px;
      }

      span {
        display: block;
      }
    }
  }
}

.wizard {
  margin: 15px auto;
  border: 1px solid darken($darkest, 4%);
  background: lighten($darkest, 8%);
  border-radius: 10px;
  max-width: 800px;
  overflow: hidden;

  .wizard-header {
    display: flex;
    border-bottom: 1px solid $darkest;

    .wizard-column {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: $lighter;
      border-right: 1px solid $darkest;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .wizard-row {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    justify-content: space-between;

    &__details {
      width: 75%;
      padding: 10px 0;
    }

    &__meta {
      width: 15%;
      padding: 10px 0;
    }

    &__thumbnail {
      width: 10%;
      padding: 10px 0;
      display: flex;

      & > div {
        margin: 0 10px;
        margin-right: 0;
        overflow: hidden;
        border-radius: 4px;
        width: 100%;
        position: relative;
        background: $darkest;

        img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &:nth-child(even) {
      background: lighten($darkest, 2%);
    }

    &:hover {
      .wizard-row__name {
        color: $lightest;
      }
    }

    &:focus {
      background: mix($darkest, $vibrant);
      color: $white;
    }

    &.offline {
      color: lighten($darkest, 26%);

      .indicator-text {
        color: lighten($darkest, 26%) !important;
      }

      .indicator {
        background: lighten($darkest, 26%) !important;
      }

      &:focus {
        color: $white;

        .indicator-text {
          color: $white !important;
        }

        .indicator {
          background: $white !important;
        }
      }
    }
  }

  .wizard-column {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(1n) {
      width: 20%;
    }

    &:nth-child(2n), &:nth-child(3n) {
      width: 17%;
    }

    &:nth-child(4n) {
      width: 100% - 2*17% - 20%;
    }
  }

  .wizard-content {
    height: 500px;
    overflow-y: hidden;
    background: lighten($darkest, 4%);
    color: $lighter;

    .wizard-column {
      cursor: pointer;
    }
  }
}

.wizard-row__name {
  font-weight: 500;
  padding: 0 10px;
}

.wizard-row__description {
  padding: 0 10px;
  color: lighten($darkest, 34%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicator-text {
  font-weight: 500;

  .indicator {
    margin-right: 5px;
  }

  &.green {
    color: $success;
  }

  &.yellow {
    color: #ca8f04;
  }

  &.red {
    color: $error;
  }
}

.indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;

  &.green {
    background: $success;
  }

  &.yellow {
    background: #ca8f04;
  }

  &.red {
    background: $error;
  }
}

.search {
  position: relative;
}

.wizard-controls {
  margin-top: 20px;
  display: flex;

  .cta.button {
    padding-top: 0;
    padding-bottom: 0;
  }

  .spacer {
    flex-grow: 1
  }

  .language-select {
    margin-right: 15px;

    .dropdown__control {
      background: lighten($darkest, 8%);
      transition: none;
      border-radius: 4px;
      line-height: 36px;
      padding: 0 16px;

      &:hover {
        background-color: lighten($darkest, 12%);
      }
    }

    .dropdown__option {
      font-weight: 400;
    }
  }
}

.search__input {
  padding-right: 30px;
  outline: 0;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  min-width: 10em;
  border: none;
  padding: 10px;
  padding-right: 30px;
  font-family: inherit;
  background: darken($darkest, 8%);
  color: $lighter;
  font-size: 14px;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }

  &:focus {
    background: darken($darkest, 4%);
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.search__icon {
  .ion-android-search, .ion-android-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: inline-block;
    opacity: 0;
    transition: all 100ms linear;
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: $lighter;
    cursor: default;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      opacity: 0.3;
    }
  }

  .ion-android-search {
    transform: translateZ(0) rotate(90deg);

    &.active {
      pointer-events: none;
      transform: translateZ(0) rotate(0deg);
    }
  }

  .ion-android-cancel {
    transform: translateZ(0) rotate(0deg);
    cursor: pointer;

    &.active {
      transform: translateZ(0) rotate(90deg);
    }

    &:hover {
      color: $lightest;
    }
  }
}

.wizard-controls {
  .language-select {
    display: none;
  }
}

@media only screen and (min-width: 520px) {
  .wizard-controls {
    .language-select {
      display: block;
    }
  }
}

@media only screen and (max-width: 800px) {
  .wizard-page {
    margin: 60px 0;
    padding: 0 20px;
  }

  .wizard-controls {
    margin-top: 60px;
  }

  .wizard {
    max-height: 60vh;
  }
}

@media only screen and (max-width: 400px) {
  .external-wizard {
    width: 230px;
    margin-right: 5px;
  }

  .spacer {
    display: none;
  }

  .search {
    flex: 0 1 auto;
  }

  .search__input {
    width: 100%;
    min-width: 0;
  }

  .wizard {
    .wizard-row__thumbnail,
    .wizard-row__meta {
      display: none;
    }

    .wizard-row__details {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 380px) {
  .search {
    display: none;
  }

  .optional-column {
    display: none;
  }

  .wizard-column {
    width: 50% !important;
  }
}
