@import './variables.scss';

.wizard-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    background: url('assets/elephant-friend-top.png');
    transform: scaleX(-1);
    position: absolute;
    width: 393px;
    height: 176px;
    z-index: -1;
    top: -32px;
    right: -50px;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 30px - 8px;
    background: $darkest;
    color: lighten($vibrant, 8%);
    display: inline-block;
    padding: 8px 0;

    .lang-ar & {
      text-align: right;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;

    .lang-ar & {
      direction: rtl;
    }

    &.hint {
      color: $lighter;
      margin: 30px 0;
      display: flex;

      strong {
        display: block;
        flex: 0 0 auto;
        font-weight: 700;
        color: $lightest;
        margin-right: 10px;

        .lang-ar & {
          margin-right: 0;
          margin-left: 10px;
        }
      }

      span {
        display: block;
      }
    }
  }
}

.wizard-hint-container {
  display: flex;

  & > div:last-child {
    flex: 0 0 auto;
    margin-left: 15px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 640px) {
  .wizard-hint-container {
    flex-wrap: wrap;

    & > div {
      width: 100%;

      &:last-child {
        margin-top: 10px;
        margin-left: 0;
      }

      &:first-child {
        order: 1;
        margin-top: 20px;
      }
    }

    .button {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.wizard-hint {
  //background: lighten($darkest, 14%);
  //box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  //border-radius: 4px;
  display: flex;
  align-items: center;
  color: darken($lighter, 8%);
  //padding: 10px 16px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;

  &__icon {
    font-size: 40px;
    margin-right: 15px;
  }

  &__text {
    color: $lighter;
  }
}

.wizard {
  margin: 15px auto;
  background: lighten($darkest, 8%);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 800px;
  max-height: 60vh;
  overflow: hidden;

  .wizard-header {
    display: flex;
    border-bottom: 1px solid $darkest;

    .wizard-column {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: $lighter;
      border-right: 1px solid $darkest;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .empty {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wizard-row {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    justify-content: space-between;

    &__details {
      width: 75%;
      padding: 10px 0;
    }

    &__meta {
      width: 15%;
      padding: 10px 0;
    }

    &__thumbnail {
      width: 10%;
      padding: 10px 0;
      display: flex;

      & > div {
        margin: 0 10px;
        margin-right: 0;
        overflow: hidden;
        border-radius: 4px;
        width: 100%;
        position: relative;
        background: $darkest;

        img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &:nth-child(even) {
      background: lighten($darkest, 2%);
    }

    &:hover {
      .wizard-row__name {
        color: $lightest;
      }
    }

    &:focus {
      background: mix($darkest, $vibrant);
      color: $white;
    }

    &.offline {
      color: lighten($darkest, 26%);

      .indicator-text {
        color: lighten($darkest, 26%) !important;
      }

      .indicator {
        background: lighten($darkest, 26%) !important;
      }

      &:focus {
        color: $white;

        .indicator-text {
          color: $white !important;
        }

        .indicator {
          background: $white !important;
        }
      }
    }
  }

  .wizard-column {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(1n) {
      width: 20%;
    }

    &:nth-child(2n), &:nth-child(3n) {
      width: 17%;
    }

    &:nth-child(4n) {
      width: 100% - 2*17% - 20%;
    }
  }

  .wizard-content {
    height: 500px;
    overflow-y: hidden;
    background: lighten($darkest, 4%);
    color: $lighter;

    .wizard-column {
      cursor: pointer;
    }
  }
}

.wizard-row__name {
  font-weight: 500;
  padding: 0 10px;
}

.wizard-row__description {
  padding: 0 10px;
  color: lighten($darkest, 34%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicator-text {
  font-weight: 500;

  .indicator {
    margin-right: 5px;
  }

  &.green {
    color: $success;
  }

  &.yellow {
    color: #ca8f04;
  }

  &.red {
    color: $error;
  }
}

.indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;

  &.green {
    background: $success;
  }

  &.yellow {
    background: #ca8f04;
  }

  &.red {
    background: $error;
  }
}

.wizard-controls {
  margin-top: 20px;
  margin-bottom: 30px;

  .row {
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    line-height: 44px;
    padding: 0 1rem;
  }

  .rrs {
    flex: 1 1 auto;
  }
}

@media only screen and (max-width: 640px) {
  .wizard-controls .row {
    display: block;
  }

  .wizard-controls .rrs {
    width: 100%;
  }

  .wizard-controls__label {
    display: none;
  }

  .wizard {
    .wizard-row__thumbnail,
    .wizard-row__meta {
      display: none;
    }

    .wizard-row__details {
      width: 100%;
    }

    .indicator-text {
      margin-left: 4px;

      .indicator {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .wizard-page {
    margin: 0;
    padding: 60px 20px;

    &::before {
      display: none;
    }

    h1 {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    p.lead {
      text-align: center;
    }
  }

  .wizard-controls {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .rrs,
  .wizard-controls__label {
    margin-bottom: 10px;
  }

  .wizard {
    max-height: 50vh;
  }
}

/*
  React Responsive Select - Default styles
*/
.rrs {
  position: relative;
  box-sizing: border-box;
}

.rrs *,
.rrs *:before,
.rrs *:after {
  box-sizing: border-box;
}

.rrs__button {
  color: $lighter;
  position: relative;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  background: darken($darkest, 4%);
  border-radius: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rrs__button:focus {
  outline: 0;
}

.rrs__button + .rrs__options {
  list-style: none;
  padding: 0;
  margin: 0;
  background: darken($darkest, 4%);
  position: absolute;
  z-index: 2;
  border-top: 1px solid $darkest;
  border-radius: 0 0 4px 4px;
  top: 44px;
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.rrs--options-visible .rrs__options {
  height: auto;
  visibility: visible;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 230px;
}

.rrs__option {
  cursor: pointer;
  padding: 0 1rem;
  height: 44px;
  line-height: 44px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rrs__option * {
  pointer-events: none;
}

.rrs__option:first-of-type {
  border-top: 0;
}

.rrs__option:focus {
  outline: 0;
}

.rrs__option:hover {
  background: $darkest;
  color: #fff;
}

.rrs__option:active {
  background: $darkest;
}

.rrs__option.rrs__option--next-selection {
  background: mix($darkest, $vibrant);
  color: #fff;
}

.rrs__option.rrs__option--selected {
  color: #fff;
}

.rrs__label {
  padding: 0 2rem 0 1rem;
  display: inline-flex;
  width: 100%;
  max-width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}

.rrs--options-visible .rrs__label,
.rrs__button:focus .rrs__label {
  outline: 0;
}

.rrs__label {
  font-size: 18px;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.caret-icon {
  position: absolute;
  right: 0.8rem;
  top: 1.25rem;
  fill: $lighter;
}

.rrs--options-visible .caret-icon {
  transform: rotate(180deg);
}

.rrs__options {
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: max-height, opacity;
  max-height: 0;
  opacity: 0;
}

.rrs--options-visible .rrs__options {
  opacity: 1;
}

/*
  Multiselect overrides
*/
/*
.rrs__multiselect-label {
  display: inline-flex;
  max-width: 100%;
  line-height: 1;
}

.rrs__multiselect-label__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rrs__multiselect-label__badge{
  border: 1px solid #ccc;
  padding: 1px 6px;
  margin: 0 0 0 4px;
  border-radius: 8px;
  color: #666;
  font-size: 11px;
  vertical-align: middle;
  display: inline-block;
}
*/
