.grid {
  display: grid;
  gap: var(--gutter-width);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: calc(rem(1312px) + 2 * rem(64px));
  padding: 0 rem(24px);
  @include min-width($md) {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 rem(64px);
  }

  > * {
    grid-column: span 4;
    @include min-width($md) {
      grid-column: span 12;
    }
  }

  > .grid {
    padding: 0;
    width: 100%;
  }
}
