@tailwind base;
@tailwind components;
@tailwind utilities;

// adapted from https://getbootstrap.com/docs/5.0/layout/breakpoints/
$xs: 390px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin min-width($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($px) {
  @return calc(stripUnit($px) / 16 * 1rem);
}

:root {
  --black: #000000;
  --gray-1: #555555;
  --gray-2: #9b9b9b;
  --gray-3: #d4d4d4;
  --gray-4: #f3f3f3;
  --gray-5: #f6f6f6;
  --white: #ffffff;

  --blurple-gradient: linear-gradient(0deg, #563acc 12.87%, #6364ff 88.62%);

  --eggplant: #17063b;
  --dark-blurple: #2f0c7a;
  --main-blurple: #563acc;
  --accent-blurple: #6364ff;
  --blurple-text-on-black: #858afa;
  --lime: #baff3b;
  --goldenrod: #ffbe2e;

  --border-radius: 4px;
  --border-width: 2px;

  --gutter-width: #{rem(16px)};
  @include min-width($md) {
    --gutter-width: #{rem(20px)};
  }
}

@layer utilities {
  .h1 {
    @apply text-h3 md:text-h1;
    @apply leading-h3 md:leading-h1;
    @apply font-800 tracking-heading;
  }
  
  .h2 {
    @apply text-h4 md:text-h2;
    @apply leading-h4 md:leading-h2;
    @apply font-800 tracking-heading;
  }
  
  .h3 {
    @apply text-h4 md:text-h3;
    @apply leading-h4 md:leading-h3;
    @apply font-800 tracking-heading;
  }
  
  .h4 {
    @apply text-h5 md:text-h4;
    @apply leading-h5 md:leading-h4;
    @apply font-800 tracking-copy md:tracking-heading;
  }
  
  .h5 {
    @apply text-h6 md:text-h5;
    @apply leading-h6 md:leading-h5;
    @apply font-800 tracking-copy;
  }
  
  .h6 {
    @apply text-h6;
    @apply leading-h6;
    @apply font-800 tracking-copy;
  }
  
  .sh1 {
    @apply text-b1 md:text-sh1;
    @apply leading-b1 md:leading-sh1;
    @apply font-450 tracking-copy;
  }
  
  .b1,
  .b2,
  .b3,
  .b4 {
    b, strong {
      @apply font-600;
    }
  }
    
  .b1 {
    @apply text-b1;
    @apply leading-b1;
    @apply font-450 tracking-copy;
  }
  
  .b2 {
    @apply text-b2;
    @apply leading-b2;
    @apply font-450 tracking-copy;
  }
  
  .b3 {
    @apply text-b3;
    @apply leading-b3;
    @apply font-450 tracking-copy;
  }
  
  .b4 {
    @apply text-b4;
    @apply leading-b4;
    @apply font-400 tracking-copy;
  }
  
  .c2 {
    @apply text-c2;
    @apply leading-c2;
    @apply font-600 tracking-copy;
  }
  
  .c3 {
    @apply text-c3;
    @apply leading-c3;
    @apply font-450 tracking-copy;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

